#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-components-section {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.button-components-section button {
  display: flex;
  width: 171.19px;
  height: 50px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-bottom: 12px;
  color: white;
}

button.primary {
  background: #074ee8;
}

button.secondary {
  background: #07a4e8;
}

.alert-components-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 650px;
  height: 76px;
  flex-shrink: 0;
  border-radius: 10px;
  padding-left: 20px;
  font-weight: 700;
  color: #444444;
  gap: 15px;
}

.error {
  background: #f9c8c8;
}

.warning {
  background: #f9d9c8;
}

.info {
  background: #f9ebc8;
}

.success {
  background: #cef7cd;
}
